@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    font-family: 'Crimson Text', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:rgba(105, 105, 105, 0.18) ;
}

.key {
    position: absolute;
    top: 70vh;
    left: 35vw;
    background-color: transparent;
    width: 8vw;
    height: 15vh;
    cursor: pointer;
    z-index: 2;
}

.housePicture {
    width: 107%;
    height: 103vh;
    background-image: url("/escape-game/assets/images/house_outside.jpg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    z-index: 1;
}

.info {
    font-family: 'Crimson Text', sans-serif;
    position: absolute;
    top: 50%;
    left: 86%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.directive {
    font-family: 'Crimson Text', sans-serif;
    background-color: rgba(105, 105, 105, 0.7);
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 15vh;
    text-align: center;
    padding-top: 20px;
}

.timer {
    font-family: 'Crimson Text', sans-serif;
    background-color: rgba(105, 105, 105, 0.7);
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 15vh;
    text-align: center;
    padding-top: 20px;
}

.tips {
    font-family: 'Crimson Text', sans-serif;
    background-color: rgba(105, 105, 105, 0.7);
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 15vh;
    text-align: center;
    padding-top: 20px;
}

.tips button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    height: auto;
    background-color : transparent;
}

.saveAndExit {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 12vw;
    height: auto;
    text-align: center;
    z-index: 2;
}

.saveAndExit button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-family: 'Crimson Text', sans-serif;
    z-index: 2;

}

.key-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    padding: 1px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-content img {
    width: 250px;
    height: auto;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(105, 105, 105, 0.7);
    cursor: pointer;
    border-radius: 5px;
}

.popup-content button:hover {
    background-color: rgba(105, 105, 105, 0.7);
}

.close-popup {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 24px;
}


.tips-popup {
    position: fixed;
    top: 83%;
    left: 88%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 30px;
    width: 400px;
    height : auto;
    z-index: 1000;
    border-radius: 10px;
}

.tipsPopup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipsClose-popup {
    position: absolute;
    right: 90px;
    top: 5px;
    cursor: pointer;
    font-size: 24px;
}